@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@75..125,300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none; 
}

:root{
    --font_inter:"Inter", sans-serif;
    --font_jua:"jua", sans-serif;
    --font_fredoka: "Fredoka", sans-serif;
    --font_poppins:  "Poppins", sans-serif;
    --Rosa:#fe90a8;
    --Azul:#c5caff;
    --Amarelo:#fef5a6;
    --Roxo:#f7d9e3;
    --Verde:#d5f09c;
}

#text-log{
    color: var(--Rosa);
    text-align: center;
    font-family: var(--font_fredoka);
    font-size: 2.4rem;
    padding: 30px;
}
.central{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.label-1{ 
    margin: 15px 0;
    font-size: 1.5rem;
    font-family: var(--font_fredoka);
}
input,.email-senha{
    border-radius: 8px;
    margin: 5px;
    font-size: 20px;     /* Tamanho da letra */
    background-color: var(--Amarelo);
    width: 350px;          /* Largura fixa */
    height: 35px;          /* Altura fixa */
    border: none;
    padding: 5px 10px;     /* Espaçamento interno */
    box-sizing: border-box; /* Garante que padding não estique o input */
}

input #email{
    font-family: var(--font_inter);
    font-weight: 100;
}
#senha::placeholder{
    font-size: 2px;
}
input::placeholder{
  font-size: 20px;
   
}

a#remember-password{
    color: rgb(93, 192, 192);
    font-size: 1rem;
    margin: 10px;
}

#button-1{
    border: none;
    font-size: 1rem;
    width: 15%;
    padding: 8px;
    border-radius: 20px;
    margin-top: 40px;
    font-family: var(--font_poppins);
    font-weight: 600;
    background-color: var(--Amarelo);
    transition: transform 2s ease;
}

#button-1:hover{
    background-color: white;
    transform: scale(1.1);
    border: 1px solid #fe90a8;
}
#button-2{
    border: none;
    width: 15%;
    margin: 20px 0;
    font-size: 1rem;
    padding: 8px;
    border-radius: 20px;
    font-family: var(--font_poppins);
    font-weight: 600;
    background-color: var(--Amarelo);

}

#button-2:hover{
    background-color: white;
    transform: scale(1.1);
    border: 1px solid #fe90a8;
}
a,#button-1{
    color: var(--Rosa);
}

@media (max-width:1154px){
    #button-2{
        font-size: small;
    }
}
@media (max-width:957px){
    #button-1{
        font-size: small;
    }
    #button-2{
        font-size: x-small;
    }
}
@media (max-width: 690px){
    
    .conteiner #whatsapp-ag{
        font-size: medium;
    }

    .conteiner #instagram{
        font-size: medium;
    }
    h1#text-log{
      font-size: large;
    }

    .login .bi-person-fill{
        font-size:large;
    }
    .login .bi-cart-fill{
        font-size:large;
    }
    .login .bi-heart-fill{
        font-size: large;
    }
    li .item-a{
        font-size: 0.7em;
    }

    .label-1{
     font-size: smaller;
    }
    button#button-1{
        width: 30%;
        height: 30px;
        padding: 2px;
        margin-bottom: 10px;
    }
    button#button-2{
       width: 30%;
       margin-top: 10px;
    }
    .father .primeiro-bloco ,.segundo-bloco
    ,.terceiro-bloco{
        font-size: x-small;
    }
    .father .texto-1{
        font-size: small;
    }
    .father #devolucao{
        font-family: var(--font_inter);
        font-size: small;
    }
    .father #insta-final{
        font-size: small;
    }
}